---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import type { BlogPost } from "../types";

interface Props {
  content: BlogPost;
}

const { content } = Astro.props;
---

<html lang="en">
  <head>
    <MainHead title={content.title} description={content.description} />
    <style>
      .hero {
        padding: 1rem;
        display: flex;
        background-color: var(--t-fg);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 10vw;
        color: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: var(--f-u4);
      }

      @media (min-width: 750px) {
        .hero {
          padding: 2rem;
        }
      }

      .tag {
        margin-left: 0.5em;
        margin-right: 0.5em;
        text-transform: uppercase;
      }

      .tag:nth-of-type(1n) {
        color: var(--c-green);
      }
      .tag:nth-of-type(2n) {
        color: var(--c-orange);
      }
      .tag:nth-of-type(3n) {
        color: var(--c-blue);
      }
      .tag:nth-of-type(4n) {
        color: var(--c-pink);
      }

      .title {
        font-size: var(--f-u5);
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.0625em;
        text-align: center;
      }

      @media (min-width: 750px) {
        .title {
          font-size: var(--f-u7);
        }
      }

      .leadIn {
        padding: 1em 0;
        color: var(--t-fg);
        background-color: var(--t-card);
        text-align: center;
      }

      .tagline {
        font-weight: 300;
        font-size: var(--f-u3);
        line-height: 1.5;
        margin: 0;
      }

      .content {
        font-size: var(--f-u1);
        line-height: 2.2;
        max-width: 50em;
        margin: auto;
      }

      .contentWrapper {
        text-align: justify;
      }

      .readMore {
        text-align: center;
      }

      .button {
        display: inline-block;
        background-color: var(--t-card);
        border-radius: 7px;
        padding: 0.5em 1em;
        font-weight: 700;
        text-transform: uppercase;
        margin: 1em 0;
      }
    </style>
  </head>
  <body>
    <Nav />
    <header style={`background-color:${content.bgcolor}`} class="hero">
      <h1 style={`color:${content.textcolor}`} class="title">
        {content.title}
      </h1>
    </header>
    <div class="leadIn">
      <div class="wrapper">
        <div>{content.tags.map((t) => <span class="tag">{t}</span>)}</div>
        <h3 class="tagline">{content.description}</h3>
        <div>{new Date(content.publishDate).toLocaleDateString("de-DE")}</div>
      </div>
    </div>
    <div class="wrapper contentWrapper">
      <div class="content"><slot /></div>
    </div>
    <div class="readMore">
      <a href="/blog" class="button">View More Posts</a>
    </div>
    <Footer />
  </body>
</html>
